* text=auto eol=lf

# Not needed when Golem is installed with Composer
/.github            export-ignore
/docs               export-ignore
/examples           export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpstan.neon.dist  export-ignore
/CODE_OF_CONDUCT.md export-ignore
/CONTRIBUTING.md    export-ignore
/SECURITY.md        export-ignore

*.svg linguist-documentation

# World folders (LevelDB) are binary, whatever their file names say
**/worlds/** binary
level.dat binary
