parameters:
    level: 8
    paths:
        - src
        - examples/hello-world/src
        - examples/hello-world/tests
        - tests
    scanFiles:
        - bin/golem
    scanDirectories:
        - examples/hello-world/virions
    treatPhpDocTypesAsCertain: false
